<h1 class="mt-5 mb-4">Transferência</h1>
<form [formGroup]="formGroup" class="mb-3" (ngSubmit)="transferir()">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Conta de origem</label>
      <input type="text" class="form-control" formControlName="numeroContaOrigem">
    </div>


    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Agência de origem</label>
      <input type="text" class="form-control" formControlName="agenciaOrigem">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Conta de destino</label>
      <input type="text" class="form-control" formControlName="numeroContaDestino">
    </div>

    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Agência de destino</label>
      <input type="text" class="form-control" formControlName="agenciaDestino">
    </div>
  </div>


  <div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Informe o Valor</label>
      <input type="text" class="form-control" formControlName="valor">
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button [disabled]="!formGroup.valid" type="submit" class=" mt-4 btn btn-outline-success d-flex justify-content-center"
      titulo="Cadastrar"> Transferir </button>
  </div>
</form>
