<h1 class="mt-5 mb-4">Transferência</h1>

<form [formGroup]="formGroup" class="mb-3" (ngSubmit)="transferir()">
  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Número Conta Origem</label>
      <input type="text" class="form-control" formControlName="numeroContaOrigem">
      <small class="text-danger mb-2" *ngIf="formGroup.get('numeroContaOrigem')?.errors &&
      formGroup.get('numeroContaOrigem')?.hasError('required')"></small>
    </div>

    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Número Agência Origem</label>
      <input type="text" class="form-control" formControlName="agenciaOrigem">
      <small class="text-danger mb-2" *ngIf="formGroup.get('agenciaOrigem')?.errors &&
      formGroup.get('agenciaOrigem')?.hasError('required')"></small>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Número Conta Destino</label>
      <input type="text" class="form-control" formControlName="numeroContaDestino">
      <small class="text-danger mb-2" *ngIf="formGroup.get('numeroContaDestino')?.errors &&
      formGroup.get('numeroContaDestino')?.hasError('required')"></small>
    </div>

    <div class="col">
      <label for="exampleFormControlInput1" class="form-label">Número Agência Destino</label>
      <input type="text" class="form-control" formControlName="agenciaDestino">
      <small class="text-danger mb-2" *ngIf="formGroup.get('agenciaDestino')?.errors &&
      formGroup.get('agenciaDestino')?.hasError('required')"></small>
    </div>
  </div>

  <div>
    <div class="col-6">
      <label for="exampleFormControlInput1" class="form-label">Valor</label>
      <input type="text" class="form-control" formControlName="valor">
      <small class="text-danger mb-2" *ngIf="formGroup.get('valor')?.errors &&
      formGroup.get('valor')?.hasError('required')"></small>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button [disabled]="!formGroup.valid" type="submit" class=" mt-4 btn btn-outline-success d-flex justify-content-center"
      titulo="Cadastrar"> Transferir </button>
  </div>
</form>
